body {
    font-family: arial, sans-serif;
    margin:0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 180px 1fr 60px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "footer footer";
        gap: 10px;
        height: 100vh;
}

.header, .sidebar, .content, .footer {
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    background-color: transparent;
    
}

/* .header2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "div1"
        "div2";
    
    text-align: center;
    grid-area: header;
    background-color: transparent;
    
} */

.frame {
    background-color: transparent;
    /* border-radius: 10px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    gap: 4px;
    /* grid-template-areas:
    "div1 div2 div3"
    "div4 div5 div6" */

}

.sidebar {
    grid-area: sidebar;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.content {
    grid-area: content;
    background-color: transparent;
}

.footer {
    grid-area: footer;
    background-color: transparent;
    color: black;
}

@media (max-width: 430px ) {
    .header {
        
    }

}


@media (max-width: 768px) {
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "content"
            "sidebar"
            "footer";
            
}
}

