body {
    font-family: arial, sans-serif;
    background-color: lightgray;
}

.navibar {
    position: sticky;
    top: 0;
    background-color: darkgray;
    color: white;
    padding: 15px;
    text-align: center;
}

.div1 {
    Display: flex;
    margin: 5px;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
.div2 {
    f
   
    padding: 20px;
    text-align: center;
    background-color:aqua;
    border-radius: 10px;
    gap: 20px;
   
}